<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-brand"> Ahmed Store</div>
  </div>
  <div >
    <div class="dropdown navbar-brand">
      <button class="dropbtn bg-dark" >&#9776;</button>
      <div class="dropdown-content">
        <a href="#" class="bg-dark">profile</a>
        <a href="#" class="bg-dark">cart</a>
        <a href="#" class="bg-dark"></a>
      </div>
    </div>
  </div>
</nav>

<div>
<router-outlet></router-outlet>
</div>
